<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/getting-started/">Getting Started</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/build-web-service-for-start-up/">Build web service for start-up</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/use-management-solutions/">Use management solutions</a></li>
    <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/about-tizen/">About Tizen</a></li>
</ul>
